html
  head
    title Snake
    link(href="styles/normalize.css" rel="stylesheet" type="text/css")
    link(href="styles/styles.css" rel="stylesheet" type="text/css")
    script(src="src/three.min.js")
    script(src="src/SPE.js")
    script(src="src/pixi.min.js")
    script(src="src/pixi-sound.js")
    script(src="js/game.js")
    script(src="js/renderer.js")
    script(src="js/keyboard-controller.js")
    script(src="js/state-machine.js")
    script(src="js/asset-manager.js")
    script(src="js/sound-manager.js")
    script(src="js/tail.js")
    meta(charset="utf-8")
  body
    button.pause-button(onclick = 'pause()') пауза
    button.new-game-button(onclick = 'newGame()') Новая игра
    button.cam-button(onclick = 'switchCam()') камера
    progress.loading-progress
    .score-container Счёт: 0
    .pause-message Пауза
    .welcome-message Змейка
    .game-over-message Game Over!
    .final-score
    .loading-message Загрузка...
    script.
        var game = new Game({
          gameWidth : 30,
          gameHeight : 20,
          blockSize : 30,
          gameSpeed : 300,
          framesPerStep : 11,
          animationFps : 50,
          startX : 10,
          startY : 7,
          initialTail : 2,
          initialDirection : 2,

          scoreContainer: "score-container",
          gameOverMessage : "game-over-message",
          welcomeMessage : "welcome-message",
          finalScore : "final-score",
          pauseButton : "pause-button",
          pauseMessage : "pause-message",
          camButton : "cam-button",
          newGameButton : "new-game-button",
          loadingMessage : "loading-message",
          loadingProgress : "loading-progress",

          backgroundTexture : "assets/img/bg.jpg",
          maxCamTilt : 750000,
          collisionCameraJump : 1000,

        sound_manager_data :
        {
            soundLoadedEventName: "Snake-game:sounds-loaded",
            sounds:   
            [
                {
                    id: 0,
                    files: ["assets/sound/bonus.mp3"],
                    playEvent: ["Snake-game: bonus taken"],
                    playRandom: true
                },
                {
                    id: 1,
                    files: ["assets/sound/game over.mp3"],
                    playEvent: ["Snake-game: game over"],
                    playRandom: true
                },
                {
                    id: 2,
                    files: ["assets/sound/music.mp3"],
                    playEvent: ["Snake-game: new game"],
                    stopEvent: ["Snake-game: game over"],
                    playRandom: true,
                    loop: true
                }
            ]
        },

        walls : [
            {
                x :10,
                y :10
            },
            {
                x: 3,
                y: 3
            },
            {
                x: 7,
                y: 19
            },
            {
                x: 17,
                y: 5
            },
            {
                x: 15,
                y: 14
            },
            {
                x: 27,
                y: 17
            }
        ]

        });

        function pause()
        {
            var event = new CustomEvent("Snake-game:pause-pressed");
            document.dispatchEvent(event);
        }

        function switchCam()
        {
            var event = new CustomEvent("Snake-game:switch-camera");
            document.dispatchEvent(event);
        }

        function newGame()
        {
            var event = new CustomEvent("Snake-game:new-game");
            document.dispatchEvent(event);
        }